body {
	/* display: flex; */

	flex-direction: column;
	justify-content: space-around;
    background-color: black;
    position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height:100%;
	width: 100%;
	overflow: hidden;
	font-family:Georgia, 'Times New Roman', Times, serif;
	color: rgba(163, 160, 154, 0.671);
        

}
.body{
	margin-top: 700px;
	margin-left: 0px;
	margin-right: 0px;
	position:absolute;
}
.encabezado{
	/* display: flex; */
	justify-content: center;
	
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
	height: 40px;
	margin-top: 0px;
    text-align: center;
	background-color: rgb(55,55,55);
}
h1{
	
    text-align: center;
	
	font-size: 30px;
}
h2{
	 
	text-align: center;
	font-size: 15px;
}

/*FORMULARIO*/
.contenedorCentral{
	display: flex; 
	justify-content: space-around;
	margin-top: 100px;
	margin-left: 100px;
	margin-bottom: 100px;
	align-items: center;
}


input{
    
	width: 200px;border-color:#83827e;
	
        border-width:1px;
        border-style:solid;
        background:rgb(55, 55, 55);
        font-family:"Courier New",monospace;
        font-size:16px;
		color: rgba(163, 160, 154, 0.671);
       
  
} 
.cadaInput{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.encabezado2{
	 display: flex; 
	justify-content: center;
	/* position: relative; */
	
	align-items: center;
	/* justify-content:space-between; */
	/* position:absolute; */
	margin-top: 0px;
	list-style: none;
	margin-left: 0;
	width: 100%;
	height: 40px;
	/* text-align: center; */
	background-color: rgb(55,55,55);
}
.h2SegundaPag{
	/* padding-left: 230px; */
    text-align: center;
	padding: auto;
	/* border:solid 2px blue ;
	background-color: aqua; */
	font-size: 15px;
	/* margin-left: 10px; */
	margin-right: 10px;
	width: 150px;
	height: 30px;
	/* margin-left: 30px;
	margin-right: 30px; */

}
/* .buttonCondicion{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	color: aqua;
	background:#8b84846e;

} */
/* .seccionBotones{
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;

} */
.imgPrimeraPag{
	height: 300px;
	width: 300px;
	margin-left: 40px;
	margin-right: 60px;
	border-color:#83827e;
    border-width:3px;
    border-style:solid;
	/* right: auto; */
}
/* footer*/
footer{
	 display: flex;
	/* position: absolute; */
	justify-content: center;
	margin-top: 10px;
	/* margin-bottom: 0; */
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: rgb(55, 55, 55);


}
/* .button1Pag{
	width: 220px;
	height: 40px;
	padding: 5px;
		border-color:#d3d1cc;
        border-width:1px;
        border-style:solid;
       
        font-family:"Courier New",monospace;
        font-size:10px;
		color: rgba(163, 160, 154, 0.671);
		background:#8b84846e;
		
} */
/* .button2Pag{
	width: 220px;
		border-color:#83827e;
        border-width:1px;
        border-style:solid;
        background:#8b84846e;
        font-family:"Courier New",monospace;
        font-size:16px;
		color: rgba(163, 160, 154, 0.671);
    
		margin-left: 300px;
} */
.textobutton{
	font-family:"Courier New",monospace;
        font-size:16px;
		color: aqua;

}

		/*todo dentro de listas*/
.segundoContenedor{
	/* position: absolute; */
	display: flex;
	
	justify-content: space-around;
	
	margin-top: 100px;
	height: 150;
	
	width:550 ;
}



.imgSegundaPag{
	border: solid 2px;
	border-color:cadetblue;
	height: 130px;
	width: 200px;
	margin-left: 40px;
	margin-right: 60px;
	border-spacing: 5px;

}

/* //inicio */
.inicio{
	position: absolute;
}



.lista {
	display: flex;
	justify-content: space-around;
	align-items: center;
    
	height: 135px;
	width:700px ;
	
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 25px;
	padding-left: 5px; 
	border-color:#83827e;
	border-style: solid;
	border-width:1px;
	border-radius: 16px;
	margin:1px 0px 1px 0px;
	
	font-style: oblique;
}
