body {
    background-color: black;
    position: absolute;
	height:100%;
	width: 100%;
	overflow: hidden;
	font-family:Georgia, 'Times New Roman', Times, serif;
	color: rgba(163, 160, 154, 0.671);
        

}
.encabezado{
	display: flex;
	justify-content: center;
	
	width: 100%;
	height: 40px;
	margin-top: 0px;
    text-align: center;
	background-color: rgb(55,55,55);
}
h1{
	
    text-align: center;
	
	font-size: 30px;
}
h2{
	 
	text-align: center;
	font-size: 15px;
}
.h2SegundaPag{
	padding-left: 230px;
    text-align: justify;
	font-size: 15px;

}
/*FORMULARIO*/
.contenedorCentral{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	margin-left: 20px;
	align-items: center;
}

label{
	padding-right: 5px;
}
input{
    
	width: 200px;border-color:#83827e;
	
        border-width:1px;
        border-style:solid;
        background:rgb(55, 55, 55);
        font-family:"Courier New",monospace;
        font-size:16px;
		color: rgba(163, 160, 154, 0.671);
       
  
} 
.cadaInput{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.buttonCondicion{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	color: aqua;
	background:#8b84846e;

}
.seccionBotones{
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;

}
.imgPrimeraPag{
	height: 300px;
	width: 300px;
	margin-left: 40px;
	margin-right: 60px;
	border-color:#83827e;
    border-width:3px;
    border-style:solid;
	/* right: auto; */
}
/* footer*/
footer{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: rgb(55, 55, 55);
	margin-bottom: 0px;
	margin-top: 100px;

}
.button1Pag{
	width: 220px;
	height: 40px;
	padding: 5px;
		border-color:#d3d1cc;
        border-width:1px;
        border-style:solid;
       
        font-family:"Courier New",monospace;
        font-size:10px;
		color: rgba(163, 160, 154, 0.671);
		background:#8b84846e;
		
}
.button2Pag{
	width: 220px;
		border-color:#83827e;
        border-width:1px;
        border-style:solid;
        background:#8b84846e;
        font-family:"Courier New",monospace;
        font-size:16px;
		color: rgba(163, 160, 154, 0.671);
    
		margin-left: 300px;
}
.textobutton{
	font-family:"Courier New",monospace;
        font-size:16px;
		color: aqua;

}

		/*todo dentro de listas*/


.imgSegundaPag{
	border: solid 2px;
	border-color:cadetblue;
	height: 130px;
	width: 300px;
	margin-left: 40px;
	margin-right: 60px;
	border-spacing: 5px;

}
ul{
	
	justify-content: center;
}




li{
	display: flex;
	justify-content: space-around;
	align-items: center;

	height: 150px;
	width:700px ;
	
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 25px;
	padding-left: 5px; 
	border-color:#83827e;
	border-style: solid;
	border-width:1px;
	border-radius: 16px;
	margin:10px 0px 10px 250px;
	
	font-style: oblique;
}
